// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 span{
	color: hsla(0,0%,0%,0);
	text-shadow: #fff 0 0 60px;

	-webkit-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	   -moz-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	    -ms-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	     -o-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	        transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	}
	@-moz-document url-prefix() { .txt { text-shadow: #fff 0 0 20px; } } /* FF fix */

	h1:hover span {
		text-shadow: #fff 0 0 5px;

		-webkit-transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
		   -moz-transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
		    -ms-transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
		     -o-transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
		        transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
		}


